In [73]:
#FINANCIAL MODELLING

import pandas as pd
df1=pd.read_csv("supermarket_sales - Sheet1.csv")

In [74]:
df1.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [75]:
#using scikit-learn
#Import LabelEncoder using sklearn
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df1["Branch"] = le.fit_transform(df1["Branch"])
df1["City"] = le.fit_transform(df1["City"])
df1["Customer type"] = le.fit_transform(df1["Customer type"])
df1["Gender"] = le.fit_transform(df1["Gender"])

In [76]:
df1.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,0,2,0,0,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,2,1,1,0,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,0,2,1,1,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,0,2,0,1,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,0,2,1,1,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [77]:
X = df1.drop("gross income",axis = 1 )
X=df1.drop("Invoice ID", axis=1)
y = df1["gross income"]

In [78]:
X

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,0,2,0,0,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,1,1,0,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,0,2,1,1,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,0,2,0,1,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,0,2,1,1,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2,1,1,1,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,1,0,1,0,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,0,2,0,1,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,0,2,1,1,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,0,2,0,0,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [79]:
df1['Product line'].unique()

array(['Health and beauty', 'Electronic accessories',
       'Home and lifestyle', 'Sports and travel', 'Food and beverages',
       'Fashion accessories'], dtype=object)

In [80]:
df1=df1.drop("Invoice ID", axis=1)
df1=df1.drop("Date", axis=1)
df1=df1.drop("Time", axis=1)
df1=df1.drop("Payment", axis=1)

In [81]:
df_Health_and_beauty=df1.where(df1['Product line']=='Health and beauty')
df_Health_and_beauty=df_Health_and_beauty.dropna()

In [82]:
df_Health_and_beauty.reset_index()
df_Health_and_beauty.head()

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
0,0.0,2.0,0.0,0.0,Health and beauty,74.69,7.0,26.1415,548.9715,522.83,4.761905,26.1415,9.1
3,0.0,2.0,0.0,1.0,Health and beauty,58.22,8.0,23.2880,489.0480,465.76,4.761905,23.2880,8.4
8,0.0,2.0,0.0,0.0,Health and beauty,36.26,2.0,3.6260,76.1460,72.52,4.761905,3.6260,7.2
14,0.0,2.0,1.0,0.0,Health and beauty,71.38,10.0,35.6900,749.4900,713.80,4.761905,35.6900,5.7
16,0.0,2.0,0.0,0.0,Health and beauty,68.93,7.0,24.1255,506.6355,482.51,4.761905,24.1255,4.6

In [83]:
df_Electronic_accessories=df1.where(df1['Product line']=='Electronic accessories')
df_Electronic_accessories=df_Electronic_accessories.dropna()

In [84]:
df_Electronic_accessories.reset_index()
df_Electronic_accessories.head()

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
1,2.0,1.0,1.0,0.0,Electronic accessories,15.28,5.0,3.8200,80.2200,76.40,4.761905,3.8200,9.6
5,2.0,1.0,1.0,1.0,Electronic accessories,85.39,7.0,29.8865,627.6165,597.73,4.761905,29.8865,4.1
6,0.0,2.0,0.0,0.0,Electronic accessories,68.84,6.0,20.6520,433.6920,413.04,4.761905,20.6520,5.8
11,1.0,0.0,0.0,1.0,Electronic accessories,25.51,4.0,5.1020,107.1420,102.04,4.761905,5.1020,6.8
12,0.0,2.0,1.0,0.0,Electronic accessories,46.95,5.0,11.7375,246.4875,234.75,4.761905,11.7375,7.1

In [85]:
df_Home_and_lifestyle=df1.where(df1['Product line']=='Home and lifestyle')
df_Home_and_lifestyle=df_Home_and_lifestyle.dropna()
df_Home_and_lifestyle.reset_index()

,index,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
0,2,0.0,2.0,1.0,1.0,Home and lifestyle,46.33,7.0,16.2155,340.5255,324.31,4.761905,16.2155,7.4
1,7,2.0,1.0,1.0,0.0,Home and lifestyle,73.56,10.0,36.7800,772.3800,735.60,4.761905,36.7800,8.0
2,19,1.0,0.0,1.0,0.0,Home and lifestyle,40.30,2.0,4.0300,84.6300,80.60,4.761905,4.0300,4.4
3,22,1.0,0.0,1.0,1.0,Home and lifestyle,33.20,2.0,3.3200,69.7200,66.40,4.761905,3.3200,4.4
4,25,0.0,2.0,0.0,0.0,Home and lifestyle,52.59,8.0,21.0360,441.7560,420.72,4.761905,21.0360,8.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,967,0.0,2.0,0.0,1.0,Home and lifestyle,81.01,3.0,12.1515,255.1815,243.03,4.761905,12.1515,9.3
156,971,1.0,0.0,0.0,1.0,Home and lifestyle,36.91,7.0,12.9185,271.2885,258.37,4.761905,12.9185,6.7
157,973,0.0,2.0,1.0,1.0,Home and lifestyle,80.08,3.0,12.0120,252.2520,240.24,4.761905,12.0120,5.4
158,996,1.0,0.0,1.0,0.0,Home and lifestyle,97.38,10.0,48.6900,1022.4900,973.80,4.761905,48.6900,4.4
159,998,0.0,2.0,1.0,1.0,Home and lifestyle,65.82,1.0,3.2910,69.1110,65.82,4.761905,3.2910,4.1

In [86]:
df_Sports_and_travel=df1.where(df1['Product line']=='Sports and travel')
df_Sports_and_travel=df_Sports_and_travel.dropna()
df_Sports_and_travel.reset_index()

,index,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
0,4,0.0,2.0,1.0,1.0,Sports and travel,86.31,7.0,30.2085,634.3785,604.17,4.761905,30.2085,5.3
1,15,1.0,0.0,0.0,0.0,Sports and travel,93.72,6.0,28.1160,590.4360,562.32,4.761905,28.1160,4.5
2,17,0.0,2.0,1.0,1.0,Sports and travel,72.61,6.0,21.7830,457.4430,435.66,4.761905,21.7830,6.9
3,24,0.0,2.0,0.0,1.0,Sports and travel,88.63,3.0,13.2945,279.1845,265.89,4.761905,13.2945,6.0
4,31,1.0,0.0,0.0,1.0,Sports and travel,78.07,9.0,35.1315,737.7615,702.63,4.761905,35.1315,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,926,1.0,0.0,0.0,1.0,Sports and travel,88.31,1.0,4.4155,92.7255,88.31,4.761905,4.4155,5.2
162,929,1.0,0.0,1.0,1.0,Sports and travel,25.31,2.0,2.5310,53.1510,50.62,4.761905,2.5310,7.2
163,937,0.0,2.0,1.0,0.0,Sports and travel,89.48,5.0,22.3700,469.7700,447.40,4.761905,22.3700,7.4
164,982,0.0,2.0,0.0,0.0,Sports and travel,97.48,9.0,43.8660,921.1860,877.32,4.761905,43.8660,7.4
165,991,1.0,0.0,1.0,0.0,Sports and travel,76.60,10.0,38.3000,804.3000,766.00,4.761905,38.3000,6.0

In [87]:
df_Food_and_beverages=df1.where(df1['Product line']=='Food and beverages')
df_Food_and_beverages=df_Food_and_beverages.dropna()
df_Food_and_beverages.reset_index()

,index,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
0,9,1.0,0.0,0.0,0.0,Food and beverages,54.84,3.0,8.2260,172.7460,164.52,4.761905,8.2260,5.9
1,13,0.0,2.0,1.0,1.0,Food and beverages,43.19,10.0,21.5950,453.4950,431.90,4.761905,21.5950,8.2
2,18,0.0,2.0,1.0,1.0,Food and beverages,54.67,3.0,8.2005,172.2105,164.01,4.761905,8.2005,8.6
3,28,1.0,0.0,1.0,0.0,Food and beverages,88.36,5.0,22.0900,463.8900,441.80,4.761905,22.0900,9.6
4,34,2.0,1.0,0.0,0.0,Food and beverages,99.42,4.0,19.8840,417.5640,397.68,4.761905,19.8840,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,977,1.0,0.0,0.0,1.0,Food and beverages,26.60,6.0,7.9800,167.5800,159.60,4.761905,7.9800,4.9
170,979,1.0,0.0,1.0,0.0,Food and beverages,67.77,1.0,3.3885,71.1585,67.77,4.761905,3.3885,6.5
171,980,2.0,1.0,0.0,1.0,Food and beverages,59.59,4.0,11.9180,250.2780,238.36,4.761905,11.9180,9.8
172,990,0.0,2.0,1.0,0.0,Food and beverages,56.56,5.0,14.1400,296.9400,282.80,4.761905,14.1400,4.5
173,997,0.0,2.0,0.0,1.0,Food and beverages,31.84,1.0,1.5920,33.4320,31.84,4.761905,1.5920,7.7

In [88]:
df_Fashion_and_accessories=df1.where(df1['Product line']== 'Fashion accessories')
df_Fashion_and_accessories=df_Fashion_and_accessories.dropna()
df_Fashion_and_accessories.reset_index()

,index,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
0,10,1.0,0.0,0.0,0.0,Fashion accessories,14.48,4.0,2.8960,60.8160,57.92,4.761905,2.8960,4.5
1,26,1.0,0.0,1.0,1.0,Fashion accessories,33.52,1.0,1.6760,35.1960,33.52,4.761905,1.6760,6.7
2,27,0.0,2.0,1.0,0.0,Fashion accessories,87.67,2.0,8.7670,184.1070,175.34,4.761905,8.7670,7.7
3,30,1.0,0.0,1.0,1.0,Fashion accessories,94.13,5.0,23.5325,494.1825,470.65,4.761905,23.5325,4.8
4,49,2.0,1.0,0.0,0.0,Fashion accessories,82.63,10.0,41.3150,867.6150,826.30,4.761905,41.3150,7.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,974,2.0,1.0,1.0,1.0,Fashion accessories,86.13,2.0,8.6130,180.8730,172.26,4.761905,8.6130,8.2
174,975,1.0,0.0,0.0,1.0,Fashion accessories,49.92,2.0,4.9920,104.8320,99.84,4.761905,4.9920,7.0
175,985,1.0,0.0,1.0,0.0,Fashion accessories,63.71,5.0,15.9275,334.4775,318.55,4.761905,15.9275,8.5
176,993,1.0,0.0,1.0,1.0,Fashion accessories,17.49,10.0,8.7450,183.6450,174.90,4.761905,8.7450,6.6
177,999,0.0,2.0,0.0,0.0,Fashion accessories,88.34,7.0,30.9190,649.2990,618.38,4.761905,30.9190,6.6

In [89]:
X_HB = df_Health_and_beauty.drop("Product line",axis = 1 )
X_EC = df_Electronic_accessories.drop("Product line",axis = 1 )
X_HL = df_Home_and_lifestyle.drop("Product line",axis = 1 )
X_ST = df_Sports_and_travel.drop("Product line",axis = 1 )
X_FB = df_Food_and_beverages.drop("Product line",axis = 1 )
X_FA = df_Fashion_and_accessories.drop("Product line",axis = 1 )

In [90]:
y_HB = df_Health_and_beauty["gross income"]
y_EC = df_Electronic_accessories["gross income"]
y_HL = df_Home_and_lifestyle["gross income"]
y_ST = df_Sports_and_travel["gross income"]
y_FB = df_Food_and_beverages["gross income"]
y_FA = df_Fashion_and_accessories["gross income"]

In [91]:
X_HB

,Branch,City,Customer type,Gender,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
0,0.0,2.0,0.0,0.0,74.69,7.0,26.1415,548.9715,522.83,4.761905,26.1415,9.1
3,0.0,2.0,0.0,1.0,58.22,8.0,23.2880,489.0480,465.76,4.761905,23.2880,8.4
8,0.0,2.0,0.0,0.0,36.26,2.0,3.6260,76.1460,72.52,4.761905,3.6260,7.2
14,0.0,2.0,1.0,0.0,71.38,10.0,35.6900,749.4900,713.80,4.761905,35.6900,5.7
16,0.0,2.0,0.0,0.0,68.93,7.0,24.1255,506.6355,482.51,4.761905,24.1255,4.6
...,...,...,...,...,...,...,...,...,...,...,...,...
983,2.0,1.0,1.0,1.0,99.96,7.0,34.9860,734.7060,699.72,4.761905,34.9860,6.1
986,1.0,0.0,1.0,0.0,14.76,2.0,1.4760,30.9960,29.52,4.761905,1.4760,4.3
987,1.0,0.0,0.0,1.0,62.00,8.0,24.8000,520.8000,496.00,4.761905,24.8000,6.2
989,1.0,0.0,0.0,1.0,75.37,8.0,30.1480,633.1080,602.96,4.761905,30.1480,8.4
995,2.0,1.0,1.0,1.0,40.35,1.0,2.0175,42.3675,40.35,4.761905,2.0175,6.2

In [92]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [93]:
X_train_HB,X_test_HB, y_train_HB,y_test_HB = train_test_split(X_HB,y_HB,test_size=0.25,random_state = 15062001 )

In [94]:
regr_HB=LinearRegression()
regr_HB.fit(X_train_HB,y_train_HB)

LinearRegression()

In [95]:
print(regr_HB.score(X_test_HB, y_test_HB))

1.0

In [96]:
X_train_EC,X_test_EC, y_train_EC,y_test_EC = train_test_split(X_EC,y_EC,test_size=0.25,random_state = 15062001 )

In [97]:
regr_EC=LinearRegression()
regr_EC.fit(X_train_EC,y_train_EC)

LinearRegression()

In [98]:
print(regr_EC.score(X_test_EC, y_test_EC))

1.0

In [ ]:
# Similarly we can fit linear model to every other product....